@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(34, 34, 36);
  font-size: 0.9rem;
  max-height: 100vh;
}

.form {
  overflow-y: auto;
}

.cv {
  width: 594px;
  height: 842px;
}

input {
  color: black;
}

.add,
.delete {
  transition: 250ms;
  box-sizing: border-box;
}

.delete:hover {
  background-color: rgba(255, 21, 3, 0.9);
  outline: white;
  color: white;
}

.add:hover {
  background-color: rgb(56, 240, 0);
}

.mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobile {
    display: block;
  }

  .content {
    display: none;
  }
}
