@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar-thumb {
  background-color: rgb(48, 105, 112);
}

scrollbar-thumb {
  background-color: rgb(48, 105, 112);
}

body {
  background-color: rgb(34, 34, 36);
  font-size: 0.9rem;
  max-height: 100vh;
}

.form {
  overflow-y: auto;
}

.cv {
  width: 594px;
  height: 842px;
}

input,
textarea {
  color: black;
}

textarea {
  width: 100%;
}

.add,
.delete {
  background-color: rgb(241, 241, 241);
  transition: 250ms;
  box-sizing: border-box;
}

.delete:hover {
  background-color: rgba(255, 21, 3, 0.9);
  outline: white;
  color: white;
}

.add:hover {
  background-color: rgb(190, 247, 255);
}

.bio-header,
.education-header,
.experience-header {
  background-color: rgb(241, 241, 241);
  color: black;
  padding: 10px;
}

.bio-header:hover,
.education-header:hover,
.experience-header:hover {
  background-color: rgb(190, 247, 255);
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .content {
    display: grid;
    justify-content: center;
    place-items: center;
    height: 100%;
  }

  #form {
    height: auto;
  }

  #form h1 {
    min-width: auto;
  }

  #form input {
    max-width: 30ch;
  }

  .cv {
    max-width: 95vw;
  }
}
